@font-face {
  font-family: "iconfont";
  src: url('./font/iconfont.eot?t=1595739023846');
  /* IE9 */
  src: url('./font/iconfont.eot?t=1595739023846#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./font/iconfont.woff?t=1595739023846') format('woff'),
    url('./font/iconfont.ttf?t=1595739023846') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./font/iconfont.svg?t=1595739023846#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uncheck:before {
  content: "\e63d";
}

.icon-select:before {
  content: "\e641";
}

.icon-collect:before {
  content: "\e604";
}

.icon-home:before {
  content: "\e605";
}

.icon-category:before {
  content: "\e606";
}

.icon-cart:before {
  content: "\e607";
}

.icon-address:before {
  content: "\e608";
}

.icon-payWait:before {
  content: "\e609";
}

.icon-evalute:before {
  content: "\e60a";
}

.icon-receive:before {
  content: "\e60b";
}

.icon-saleReturn:before {
  content: "\e60c";
}

.icon-myOrder:before {
  content: "\e60d";
}

.icon-myPurse:before {
  content: "\e60e";
}

.icon-myCollect:before {
  content: "\e60f";
}

.icon-myTrack:before {
  content: "\e610";
}

.icon-safe:before {
  content: "\e611";
}

.icon-personal:before {
  content: "\e612";
}

.icon-return:before {
  content: "\e614";
}

.icon-more:before {
  content: "\e615";
}

.icon-close:before {
  content: "\e616";
}

.icon-collectAfter:before {
  content: "\e621";
}

.icon-list:before {
  content: "\e624";
}

.icon-proList:before {
  content: "\e625";
}

.icon-tel:before {
  content: "\e627";
}

.icon-code:before {
  content: "\e628";
}

.icon-password:before {
  content: "\e629";
}

.icon-username:before {
  content: "\e62a";
}

.icon-arrow:before {
  content: "\e62b";
}

.icon-bianji:before {
  content: "\e62c";
}

.icon-shanchu:before {
  content: "\e62d";
}

.icon-shouhuoren:before {
  content: "\e630";
}

.icon-zhiding:before {
  content: "\e631";
}

.icon-sousuo:before {
  content: "\e633";
}

.icon-bad:before {
  content: "\e634";
}

.icon-middle:before {
  content: "\e635";
}

.icon-good:before {
  content: "\e636";
}

.icon-pullDown:before {
  content: "\e638";
}

.icon-gouxuan:before {
  content: "\e639";
}

.icon-shoucang:before {
  content: "\e63a";
}

.icon-fenxiang:before {
  content: "\e63c";
}

.icon-groupbooking:before {
  content: "\e649";
}

.icon-kefu:before {
  content: "\e68b";
}